$atlantis: #80c229;
$sushi: #7ac245;
$mineShaft: #333333;
$dustyGray: #999999;
$emperor: #555555;
$concrete: #f2f2f2;
$portGore: #1b1d41;
$doveGray: #666666;
$silver: #cccccc;
$dodgerBlue: #266bff;
$mariner: #1F57CE;
$gallery: #efefef;
$white: #ffffff;
$baliHai: #7a91ad;
$athensGray: #e1e3e7;
$porcelain: #f6f7f8;
$alabaster: #fcfcfc;
$carnation: #f66565;
$geyser: #d0d8e1;
$porcelain: #f6f7f8;
$royalBlue: #205fe7;
$denim: #1B50C1;
$persianBlue: #1c4eb8;
