@import '~@/assets/scss/mixins';
@import '~@/assets/scss/colors';

.btn-default-new {
  @include button();
  padding: 17px 70px 15px;
  background-color: #547cb8;
  border: 1.5px solid #547cb8;
  color: $white;
  &:hover,
  &:focus {
    background-color: #38547D;
    border-color: #38547D;
    color: #fff;
  }
  &[disabled] {
    background-color: $geyser!important;
    border-color: $geyser;
    opacity: 1;
  }
}

.btn-transparent-new {
  @include button();
  padding: 17px 70px 15px;
  color: $dodgerBlue;
  background-color: transparent;
  border: 1.5px solid $dodgerBlue;
  &:hover {
    background-color: $dodgerBlue;
    color: #fff;
  }
}

.btn-link-new {
  font-size: 1.4rem;
  color: $portGore;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $portGore;
  padding: 0;
  outline: none;
  &:hover {
    color: $dodgerBlue;
    border-color: $dodgerBlue;
  }
}

.btn--small {
  padding: 19px 40px 15px;
}
