<section class="Inicio">
  <div class="Content">
    <h1 class="title">Sistema de matrícula</h1>

    <form name="formLogin" ng-submit="vm.logar()" autocomplete="off">
      <div>
        <!--<label>Usuário</label>-->
        <md-input-container md-no-float>
          <input id="usuario" type="text" placeholder="Digite seu usuário" required ng-model="vm.credencial.user"></input>
        </md-input-container>
      </div>
      <div>
        <!--<label>Senha</label>-->
        <md-input-container md-no-float>
          <input id="senha" type="password" placeholder="Digite sua senha" required ng-model="vm.credencial.password"></input>
        </md-input-container>
      </div>
      <div>
        <button ng-disabled="formLogin.$invalid" class="btn btn-default" type="submit">LOGAR</button>
      </div>
    </form>

    <!--<button ng-click="vm.ticket()">Usuário</button>-->
    <!--<button ui-sref="login">Caixa</button>-->
  </div>
</section>
