<section class="Content">
  <div class="Matriculados">
    <a ui-sref='menu'>Voltar</a>
    <h1>Alunos matriculados</h1>

    <form name="formMatriculados" ng-submit="vm.buscaAlunosMatriculados(vm.disciplina)" autocomplete="off">
        <div class="Matriculados formulario">
          <md-input-container md-no-float>
            <input id="codCred" type="text" placeholder="Código (00000-00)" ng-model="vm.disciplina.codCred"></input>
          </md-input-container>
          <span>ou</span>
          <md-input-container md-no-float>
            <input id="disciplina" type="text" placeholder="Nome da disciplina" ng-model="vm.disciplina.nome"></input>
          </md-input-container>
          <button class="btn btn-default" type="submit">BUSCAR</button>
        </div>
      </form>
  
      <div ng-show='vm.listaMatriculados.length === 0'>{{vm.listaMatriculadosMensagem}}</div>
  
      <ul ng-repeat="turma in vm.listaMatriculados" ng-show='vm.listaMatriculados.length > 0'>
        <li>
          <div>{{turma.codCred}} {{turma.disciplina}} ({{turma.turma}} - {{turma.horario}})</div>
          <div>vagas: {{turma.qtd}}</div>
        </li>
      </ul>
  </div>
</section>
