<section class="Menu">
  <div class="Content">
    <section ng-if="vm.permissao('ALUNO')">
      <button ng-click="vm.irPara('matricula')">Matrícula</button>
      <button ng-click="vm.irPara('historico')">Histórico</button>
    </section>

    <section ng-if="vm.permissao('COORDENACAO')">
      <button ng-click="vm.irPara('ocupacao')">Percentual de ocupação</button>
      <button ng-click="vm.irPara('matriculados')">Alunos matriculados</button>
      <button ng-click="vm.irPara('totalMatriculados')">Total de matrículas</button>
    </section>
  </div>
</section>
