.header {
  background-color: #fafafa;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.Content {
  background-color: #eee;
  margin-left: 5%;
  margin-top: 145px;
  min-height: calc(100vh - 245px);
  position: absolute;
  width: 90%;

  > div {
    padding: 20px;
  }
}

.logo {
  padding: 20px;
  width: 250px;
}

.md-errors-spacer {
  display: none;
}

md-input-container {
  margin: 0!important;
  padding: 0!important;
}

button {
  border-radius: 5px;
  display: block;
  font-weight: 700;
  margin: 20px auto;
  padding: 10px 20px;
}

.btn-sair {
  text-align: right;
}

.Login {
  text-align: center;

  h1 {
    font-size: 2.4rem;
  }

  &.formulario-campos {
    margin: 10px 0;
  }
}

.Turma {
  justify-content: flex-start;

  &.formulario {
    > * {
      display: inline-block;
    }
  }

  md-input-container {
    margin: 0 10px!important;
  }
}
