<section class="Content">
  <div class="Matricula">
    <header>
      <a ui-sref='menu'>Voltar</a>
      <h1>Matrícula</h1>
    </header>

    <div>
      <ul ng-repeat="turma in vm.listaTurmas" ng-show='vm.listaTurmas.length > 0'>
        <li ng-click="turma.qtdTotal > 0 && vm.adicionarGrade(turma)" ng-class="{'disabled': turma.qtdTotal == 0}">
          <div>{{turma.codCred}} (vagas: {{turma.qtdTotal}})</div>
          <div>{{turma.disciplina}}</div>
          <div>{{turma.turma}} - {{turma.horario}}</div>
        </li>
      </ul>
    </div>
    <div>
      <h2>GRADE DE HORÀRIOS ALOCADOS</h2>

      <table ng-class="grade" cellpadding="3" cellspacing="3">
        <tr ng-repeat="(key, value) in vm.grade">
          <td>{{value}}</td>
        </tr>
      </table>
    </div>
  </div>
</section>
