<section class="Content">
  <div class="Matricula">
    <header>
      <a ui-sref='menu'>Voltar</a>
      <h1>Matrícula</h1>
    </header>
    <div>
      <h2>Disciplinas matriculadas</h2>
      <ul ng-repeat="turma in vm.grade" ng-show='vm.grade.length > 0'>
        <li ng-click="turma.qtdTotal > 0 && vm.excluirDisciplina(turma)" ng-class="{'disabled': turma.qtdDisponivel == 0}">
          <div>{{turma.codCred}} (vagas: {{turma.qtdDisponivel}})</div>
          <div>{{turma.disciplina}}</div>
          <div>{{turma.turma}} - {{turma.horario}}</div>
        </li>
      </ul>
    </div>

    <div>
      <h2>Disciplinas disponíveis</h2>
      <ul ng-repeat="turma in vm.listaTurmas" ng-show='vm.listaTurmas.length > 0'>
        <li ng-click="turma.qtdTotal > 0 && vm.adicionarDisciplina(turma)" ng-class="{'disabled': turma.qtdDisponivel == 0}">
          <div>{{turma.codCred}} (vagas: {{turma.qtdDisponivel}})</div>
          <div>{{turma.disciplina}}</div>
          <div>{{turma.turma}} - {{turma.horario}}</div>
        </li>
      </ul>
    </div>
  </div>
</section>
