<section class="Content">
  <div class="Turma">
    <a ui-sref='menu'>Voltar</a>
    <h1>Horários disponíveis</h1>
    <form name="formTurmas" ng-submit="vm.buscaTurmas(vm.disciplina)" autocomplete="off">
      <div class="Turma formulario">
        <md-input-container md-no-float>
          <input id="codCred" type="text" placeholder="Código (00000-00)" ng-model="vm.disciplina.codCred"></input>
        </md-input-container>
        <md-input-container md-no-float>
          <input id="disciplina" type="text" placeholder="Nome da disciplina" ng-model="vm.disciplina.nome"></input>
        </md-input-container>
        <button class="btn btn-default" type="submit">BUSCAR</button>
      </div>
    </form>

    <div ng-show='vm.listaTurmas.length === 0'>{{vm.listaTurmaMensagem}}</div>

    <ul ng-repeat="turma in vm.listaTurmas" ng-show='vm.listaTurmas.length > 0'>
      <li>
        <div>{{turma.codCred}} {{turma.disciplina}} ({{turma.turma}} - {{turma.horario}})</div>
        <div>vagas: {{turma.qtdTotal}}</div>
      </li>
    </ul>

    <!-- <md-autocomplete id="input_turma" md-search-text="vm.turmaSelecionada" md-items="turma in vm.filtrarTurma(vm.turmaSelecionada)" md-item-text="item.disciplina" placeholder="Buscar turma">
      <md-item-template>
        <span md-highlight-text="vm.turmaSelecionado.codCred">{{turma.disciplina}}</span>
      </md-item-template>
      <md-not-found>
        Turma não encontrada.
      </md-not-found>
    </md-autocomplete> -->
  </div>
</section>
